@import 'tailwindcss';
@config '../tailwind.config.js';

@import './fonts.css' layer(utilities);
@import './prism.css' layer(utilities);
@import '@pdfslick/react/dist/pdf_viewer.css' layer(utilities);

@utility hidescrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility customscrollbars {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:
      inset 1px 1px 0px rgb(0 0 0 / 10%),
      inset 0px -1px 0px rgb(0 0 0 / 7%);
  }
}

@layer components {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full;
  }


  /* Pin icon Styles */

  .pin-icon {
    @apply w-5 h-5 text-[#6b7e98] hover:text-[#100F0F] cursor-pointer;
  }
  /* Comment Box Styles */

  .comment-box {
    @apply w-73 h-43 left-3 top-3 absolute bg-[#ffffff] rounded shadow-[0px_3px_2px_0px_rgba(0,0,0,0.05)] border-[1.50px] border-slate-300;
  }

  .comment-title {
    @apply left-[17px] top-[12px] absolute justify-center text-black text-base font-normal font-['Inter'];
  }

  .comment-close {
    @apply w-4 h-4 left-[260px] top-[14px] absolute cursor-pointer text-[#62748E] hover:text-black;
  }

  .comment-input {
    @apply w-58 h-14 left-[16px] top-[55px] absolute bg-white rounded-sm border border-slate-300 text-sm;
  }

  .comment-btn-container {
    @apply absolute bottom-3 right-5 w-16 h-4.5 rounded-sm cursor-pointer bg-white shadow-[-1px_1px_2px_0px_rgba(0,0,0,0.07)] border border-slate-300 hover:bg-gray-100 transition-colors duration-200 flex items-center justify-center;
  }

  .comment-btn-text {
    @apply text-gray-400 text-[13px] font-normal font-['Inter'];
  }

  /* View Comment Styles */

  .comment-header {
    @apply flex items-center justify-between mb-3;
  }

  .comment-author {
    @apply flex items-center gap-3;
  }

  .comment-author-avatar {
    @apply w-10 h-10 rounded-full;
  }

  .comment-authorname {
    @apply text-black text-lg font-normal font-['Inter'];
  }

  .comment-date {
    @apply text-neutral-500 text-sm font-light font-['Inter'];
  }

  .comment-actions {
    @apply flex gap-2 mt-[-40];
  }

  .comment-icon {
    @apply w-5 h-5 text-[#62748E] hover:text-[#100F0F] cursor-pointer;
  }

  .comment-divider {
    @apply w-71 h-0 border-t border-slate-300 mb-3;
  }

  .comment-content {
    @apply w-60 text-black text-base font-light font-['Inter'] mb-4 ml-1;
  }

  .comment-footer {
    @apply flex justify-end;
  }

}